" Plugins
set surround
set highlightedyank

" Options
set visualbell
set ignorecase
set smartcase
set number
set relativenumber
set wrap

" Keymaps
let mapleader = " "

nnoremap y "+y
vnoremap y "+y
nnoremap p "+p
vnoremap p "+p

nnoremap <s-k> :action ShowHoverInfo<cr>
nnoremap <s-j> :action ShowErrorDescription<cr>

nnoremap gd :action GotoDeclaration<cr>
nnoremap gi :action GotoImplementation<cr>
nnoremap gr :action ShowUsages<cr>

nnoremap <a-n> :action GotoClass<cr>
nnoremap <a-s-n> :action GotoFile<cr>

nnoremap <c-p> :action ParameterInfo<cr>
nnoremap <c-n> <nop>
