" Plugins
set surround
set highlightedyank

" Options
set	clipboard+=unnamed
set	scrolloff=4
set	sidescrolloff=2
set visualbell
set noerrorbells
set ignorecase
set smartcase
set number
set relativenumber

" Keymaps
let mapleader = " "

nnoremap c "_c
nnoremap C "_C
nnoremap d "_d
nnoremap D "_D
nnoremap dd "_dd
xnoremap d "_d
xnoremap D "_D
xnoremap p "_dP

nnoremap <tab> :action NextTab<CR>
nnoremap <S-tab> :action PreviousTab<CR>
nnoremap <C-S-t> :action ReopenClosedTab<CR>
nnoremap <leader>q :q<CR>

nnoremap <S-k> :action ShowHoverInfo<CR>
nnoremap <S-j> :action ShowErrorDescription<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gr :action ShowUsages<CR>

nnoremap <C-p> :action GotoFile<CR>

nnoremap <A-j> :action MoveLineDown<CR>
nnoremap <A-k> :action MoveLineUp<CR>
xnoremap <A-j> :action MoveLineDown<CR>
xnoremap <A-k> :action MoveLineUp<CR>
